* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-image: linear-gradient(to bottom, green, yellow); 
}
.container {
  font-family: Roboto;
  max-width: 600px;
  margin: auto;
  padding: 10px;
  min-height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-logo {
  display: block;
  max-width: 150px;
}
.header-title{
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(39, 39, 39);
}
.table{
  width: 100%;
  margin-top: 30px;
}
.table-head{
  background-color: rgb(9, 156, 4);
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(39, 39, 39);
}
.table-head td{ 
  padding: 10px; 
  border-radius: 2px;
  width: 250px;
}
.table-body td{
  text-align: center;
  padding: 10px 0;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(192, 192, 192); 
}
.table-body tr{
  background-color: rgba(255, 255, 255, 0.432);
}

.converter-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

.converter-list li{
  background-color: rgb(1, 56, 158); 
  text-align: center;
  flex: 1;
  margin: 0 3px;
  box-shadow: 3px 5px 3px rgb(63, 63, 63);
  cursor: pointer;
  transition: .3s; 
}
.converter-list li:hover{
  transform: translate(-1px,-2px);
  transition: .3s;
}
  
.converter-list p{
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.control-box{
  display: flex;
  padding: 10px;
  justify-content: space-between; 
}
 
.control-box span{ 
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
  width: 10%;
  /* text-shadow: 2px 2px rgb(36, 36, 36); */
}
.give{
  color: rgb(223, 45, 45); 
}
.get {
  color: rgb(0, 94, 8)
}

span.result{
  width: 40%;
  color: #000;  
}
span.sm{
  font-size: 8px;
}
.control-box input{
  width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}